html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

embed {
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  background-color: white;
  border-top: solid black 1px;
  padding-bottom: 80px;
  /* border-top: ; */
}

.hero {
  background-color: #1c1d25;
  /* height: 100vh; */
  color: white;
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 350px; */
  padding: 80px;
  background-color: white;
  text-align: center;
}

p.copyright,
p.email,
p.email2 {
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .container1{
margin-top: 50px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 20px;
}

#nav-list a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-weight: bold;
}

#nav-list a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #ffff;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#nav-list a:hover::after, 
#nav-list a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
 }


ul.show {
  display: block;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 70px;
  margin: 0px;
}

h2 {
  font-size: 50px;
}

h3 {
  text-align: center;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.hero-area {
  display: flex;
  /* height: 100%; */
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 130px 0;
}

/* .hero-text {
  /* margin-left: 80px; */
  /* margin-bottom: 200px; */
/* }  */

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.project-link:hover, .project-image:hover, .project-github:hover{
  color: #2b2c38;
}

/* .socials {
  /* padding-bottom: 200px; */
/* } */

.logo {
  height: 160px;
  margin-left: 10px;
}

.social {
  margin: 10px;
}

.sub-section {
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  padding: 80px;
  align-items: center;
}

.sub-section-alternatve {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
    width: 350px; /* Image size */
    height: 350px; /* Ensure it's a perfect square */
    border-radius: 50%; /* Makes it circular */
    object-fit: cover; /* Keeps the face properly cropped */
    border: 15px solid #fff; /* Adjust border thickness and color */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Optional: Soft shadow effect */
}

.project-card {
  width: 300px;
  /* height: 500px; */
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 15px;
  border-radius: 9px;
  padding: 20px 10px;
}

.project-container,
.project-container-1 {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container,
  .project-container-1 {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  text-decoration: none;
  color: red;
}

.project-github {
  text-decoration: none;
  color: #1abc9c;
}

.projects {
  text-align: center;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: black;
}

section a {
  text-decoration: none;
  color: white;
}

.contact {
  height: 99%;
  width: 99%;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0px;
    width: 100%;
  }
  ul.show {
    display: block;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }
  .logo {
    display: none;
  }

  .sub-section{
    display: flex;
    flex-direction:column-reverse;
  }

  p{
    font-size: 22px;
  }

  h2{
    font-size: 40px;
  }

  footer p{
    font-size: 16px;
  }
  
}

.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#visits {
  background: #ef744b;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
}
